%html
  %head
    %title Ransom Flickr
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => 'stylesheet', :type =>'text/css', :href => 'ransom_flickr.css' }
  %body
    Your note was saved! You can view it by going 
    %a{:href => "view/#@link"} here
