%html
  %head
    %title Ransom Flickr
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => 'stylesheet', :type =>'text/css', :href => 'ransom_flickr.css' }
  %body
    .message
      - @photo_urls.each do |word|
        %span#word
          - word.each do |letter_url|
            %img{:src => letter_url}
        %span#space
      %br
      %form{:action => "save", :method => "post"}
        %input{:type =>'hidden', :name => 'note', :value => @note }
        %input{:type => 'submit', :value => 'Save'}
