%html
  %head
    %title Ransom Flickr
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => 'stylesheet', :type =>'text/css', :href => 'ransom_flickr.css' }
  %body
    %form{:action => "view", :method => "post"}
      %input{:type =>'text', :name => 'note' }
      %input{:type => 'submit', :value => 'Generate note'}