%html
  %head
    %title Ransom Flickr
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => 'stylesheet', :type =>'text/css', :href => 'ransom_flickr.css' }
  %body
    .message{:align => "center"}
      - @photo_urls.each do |url|
        - if url
          %img{:src => url}
        - else
          %br