.browse
  %h1 Browse

  - ("a".."z").each do |letter|
    %a{:href => "/admin/browse/#{letter}"}= letter.upcase

  - if @image_urls
    #to_add
      %h1 To Add

      - @image_urls.each do |url|
        %img{:src => url}

  - if @saved_images
    #saved
      %h1 Saved

      - @saved_images.each do |image|
        %img{:src => image["image_url"]}        