.write
  %p Want to blackmail your boss? What about declaring your love for that special one you are stalking? A regular prank or an unusual communication method? Say no more, write your own letter in the style of a ransom note:

  %form
    %textarea{:id => "note", :cols => 108, :rows => 20}
    %br
    %button Generate

.result