.write
  %p Want to blackmail your boss? What about declaring your love for that special one you are stalking? A regular prank or an unusual communication method? Say no more, write your own letter in the style of a ransom note:

  %form{:name => "noteForm", :method => "post"}
    %textarea{:id => "note", :name => "note", :cols => 108, :rows => 10}= params[:note] 
    %br
    %input{:type => "submit", :value => "Generate", :onclick => "document.noteForm.action='/generate'"}
    - if @image_note
      %input{:type => "submit", :value => "Save", :onclick => "document.noteForm.action='/save'"}

= partial(:partial_note)